.idea
/tmp
*.ipynb_checkpoints
*DS_Store*
*.zip
*__pycache__*
*ignore_this*
data-ingestion/src/build/**/*
data-ingestion/src/dist/**/*
data-ingestion/src/*.egg-info
data-transformation/src/build/**/*
data-transformation/src/dist/**/*
data-transformation/src/*.egg-info
.pytest_cache