.idea
/tmp
*.ipynb_checkpoints
*DS_Store*
*.zip
*__pycache__*
*local-datasets*
*scratchpad*
*ignore*
data-ingestion/tmp/*
data-ingestion/src/build/**/*
data-ingestion/build/**/*
data-ingestion/src/dist/**/*
data-ingestion/dist/**/*
data-ingestion/src/*.egg-info
data-transformation/tmp/*
data-transformation/src/build/**/*
data-transformation/build/**/*
data-transformation/src/dist/**/*
data-transformation/dist/**/*
data-transformation/src/*.egg-info
.pytest_cache
test-utils/build/**/*
test-utils/dist/**/*
test-utils/test_utils.egg-info/
