# AWS Glue 2.0: requires Spark 2.4.3 (https://docs.aws.amazon.com/glue/latest/dg/release-notes.html)
pyspark[sql]==2.4.3
# For your information: AWS Wrangler = all-round versatile tool + includes Pandas
# (https://aws-data-wrangler.readthedocs.io/en/2.4.0-docs/install.html?highlight=glue%202.0#aws-glue-pyspark-jobs)
# Mimic Glue environment (https://docs.aws.amazon.com/glue/latest/dg/reduced-start-times-spark-etl-jobs.html)
# You can even modify the Glue job's libraries with the --additional-python-modules option (see the link above)
s3fs==0.4.0
scikit-learn==0.22.1
scipy==1.4.1
# DevOps + TDD
pytest
pytest-mock
awscli
# Interactive Computing + Visualization
jupyterlab
plotly
raceplotly
# Machine Learning + Explainability
interpret